@use "../../../custom_BS" as *;

#travelers-modal {
  background-color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.33);
  font-size: 1rem;
  position: relative;
  padding:1rem;

  .row{
    padding-bottom: 1rem;
  }


  #arrow,
  #arrow::before {
    right: -2%;
    width: 25px;
    height: 25px;
    top: -3px;
    background: inherit;
  }

  #arrow {
    visibility: hidden;
  }

  #arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }

  input {
    background-color: white;
    border-width: 0px;
    line-height: 100%;
    margin-right: 3px;
    margin-left: 3px;
    width: 33px;
    height: 30px;
    font-size: 1rem;
  }

  .select-button {
    background-color: $secondary;
    border-radius: 1%;
    font-size: 1rem;
    line-height: 50%;


    path {
      color: rgba(255, 255, 255, 0.95);
    }

    &:hover {
      outline: solid 2px $secondary;
    }
    &:active {
      background-color: $dark-secondary;
    }
    &:focus {
      box-shadow: none;
    }
  }

  .btn-sm{
    width: 28px;
  }
}
