@use "../custom_BS" as *;
body {
  padding: 0;
  margin: 0;
  font-family: bc-alphapipe;
}

.form-control:focus {
  outline: 0;
  border-bottom: 2px solid green;
  box-shadow : none;
}

.form-control {
  text-align: center;
  width: 100%;
  font-size: 1rem;

  border: 0;
  text-align: center;

  border-radius: 1%;
}

button {
  border: none;
  box-shadow: none;
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  outline: none;
}

button:hover {
  outline: none;
}

.btn {
  border-radius: 1%;
  border: none;
}

.input {
  border-radius: 1%;
}

.modal-body{
  padding: 0;
  border-radius: 1%;
 
}

.modal-content{
  padding: 1rem;
  border-radius: 1%;
  background-color: $background-transparent;
}

.content-background {
  background-color: #ffffff5d;
  position:absolute;
  font-size: 1rem;
  color: $gray-700;
  min-height: 700px;
  height: 880px;
  background-image: url(../img/cinquel2.png);
  width: 100%;
  background-size: cover;
  background-position: bottom;
  z-index: -1000;
}

.main-box {
  padding-top: 2rem;
  background-color: $background-transparent;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  padding: 1rem;
  height: fit-content;

  @media only screen and (min-width: 990px){
    width: 1020px;
  }

}

.my-trips{
  margin-top:10rem;
}

.footer{
  display: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  left: 0 ; right: 0; bottom: 0;

}

.main-view{
  padding-top: calc(3rem + 6rem);
  min-height: calc(100vh - (8rem));
  display: flex;
  justify-content: center;
  min-width: 27rem;
}