@use "../custom_BS" as *;

.sign-up-box{
    margin-top: 8rem;
    background-color: $background-transparent;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 27rem;
    
    // input.form-control, input.form-control:focus {
    //     background: #ffffffc2;
    //   }

    .form-control{
        // background:rgba(255, 253, 253, 0.109);
        box-shadow: none !important;
     
    }
    
  
}

.error{
   
    color: rgba(132, 20, 14, 0.83);
    font-size: small;
}

#thumbs-up-icon{
    color:$secondary;
}


