$red: #993f3f;
$blue: #024f6b;
$light-blue: #79b3ca;
$dark-blue: #214c7e;

$primary: $dark-blue;
$secondary: $light-blue;
$dark-secondary: #4b7485;

$background-transparent: rgba(229, 231, 250, 0.75);
