$red: #993f3f;
$blue: #024f6b;
$light-blue: #25551baf;
$dark-blue: #2d5787;

$primary: $dark-blue;
$secondary: #870c37d5 ;
$primary-light: #2f5e947f;
$primary-light-light: #3e5c7e68;
$secondary-light: #2d5787;
$dark-secondary: #2d5787;

$background-transparent: rgba(233, 226, 255, 0.9);
